body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    }

    /*Estilo del navbar de la pagina*/
    .navbar{
        background-color: rgb(104, 102, 102);
        border: solid 0.4rem rgb(49, 49, 49);
        border-radius: 10px;
        font-size: 1.2rem;
    }

    .navbar-nav{
        margin-left: 40px;
        gap: 50px;
    }
    /*Logo del navbar*/
    .Logo2Pokedex{
        width: 10rem;
    }
    .LogoGif{
        width: 7rem;
    }
    
    /*Contiene la imagen de la pokedex empleada*/
    .card{
        width: 48rem;
        height: 33rem;
        background-image: url(./IMG/Pokedex_Info1.png);
        background-size: 50rem;
        background-position: center;
    }
    
/*Elementos del diseño de la pokedex*/
.Teclado{
    position: absolute;
    background-color: rgb(204, 29, 92);
    width: 17rem;
    height: 4rem;
    top: 69%;
    left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Boton{
    width: 17rem;
    background-color: rgb(204, 29, 92);
    height: 3rem;
    position: absolute;
    top: 79.4%;
    left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    width: 15.5rem;
    border: solid 2px rgb(49, 49, 49);
    border-radius: 6px;  
}

.Buscar{
    width:15.5rem ;
    background-color: rgb(31, 25, 88);
    color: white;
    cursor: pointer;
}
.Buscar:hover{
    background-color: rgb(31, 22, 112);
    color: white;
}

.InfoE{
    position: absolute;
    background-color: rgb(253, 34, 84);
    width: 17.3rem;
    height: 18rem;
    top: 35%;
    left: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Fondo de donde se mostrara el sprite del pokemon*/
.Pokemon{
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url(./IMG/FondoGif.gif);
    width: 14rem;
    height: 7.5rem;
    top: 36.2%;
    left: 13.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Para mostrar la card con la info del pokemon*/
.Vista{
    width: 18rem;
    height: 17.8rem;
    background-color: rgb(31, 25, 88);
    border-radius: 2px;
    border:solid 2px  rgb(139, 133, 192);
}

i{ color: #f3ac07; }

/*Colores para donde se muestra la info*/
.normal { background:linear-gradient(#d8c956,#867c31); border: solid 2px #4C3D3D; border-radius: 10px; }
.fire { background:linear-gradient(#e67205,#ac360e); border: solid 2px #23292c; border-radius: 10px;}
.water { background:linear-gradient(#75C2F6,#3f5f8a); border: solid 2px #072853;border-radius: 10px;}
.bug{ background:linear-gradient(#609966,#20501b); border: solid 2px #062921; border-radius: 10px;}
.rock{ background:linear-gradient(rgb(110, 109, 109),#1b2022) gray; border: solid 2px #0b191f; border-radius: 10px;}
.ghost{ background:linear-gradient(#752fbb,#361353); border:solid 2px #1f234d; border-radius: 10px;}
.electric{ background:linear-gradient(#f3cb17,#e98c21);;border:solid 2px #23292c;border-radius: 10px;}
.poison{ background:linear-gradient(#9b3284,#510b5f); border: solid 2px #1f234d; border-radius: 10px; }
.psychic{ background:linear-gradient(rgb(222, 189, 65),rgb(123, 82, 8));border: solid 2px #23292c; border-radius: 10px;}
.dragon{ background:linear-gradient(#157aa8,#4240af);border: solid 2px #072853;border-radius: 10px; }
.grass{background:linear-gradient(#449761,#52911e); border: solid 2px #23292c; border-radius: 10px;}
.ground{background:linear-gradient(#db9942,#5e5447); border: solid 2px #1c1f24;border-radius:10px;}
.fighting{ background:linear-gradient(#7D9D9C,#4c5555);border: solid 2px #1c1f24;border-radius:10px;}
/*----------------------------------------------------------------------------*/
/*Responsive para celulares*/
@media(max-width:768px){
    /*Nuevo estilo en la forma de la pokedex para el responsive*/
    .card{
        width: 23rem;
        height: 36rem;
        background-image: url(./IMG/PokedexREsponsive.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /*gif de fonndo de la pantalla donde se muestra el sprite del pokemon*/
    .Pokemon{
        position: absolute;
        background-size: cover;
        background-position: center;
        background-image: url(./IMG/FondoGif.gif);
        width: 11.6rem;
        height: 6.4rem;
        top: 10%;
        left: 35.8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/*----------------------------------------------------------------------------*/
    /*Parte donde se trabaja el teclado para el ingreso del nombre*/
    .Teclado{
        position: absolute;
        background-color: rgb(253, 34, 84);
        width: 10.8rem;
        height: 2.3rem;
        top: 36.8%;
        left:38% ;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .form-control{
        width: 13.2rem;
        height: 2.7rem;
        border: solid 2px rgb(49, 49, 49);
        border-radius: 6px;  
    }
    
    .Boton{
        width: 12.8rem;
        background-color: rgb(204, 29, 92);
        height: 2rem;
        position: absolute;
        top: 84.2%;
        left: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/*----------------------------------------------------------------------------*/
    /*Para la info del pokemon*/
    .InfoE{
        position: absolute;
        background-color: transparent;
        width: 20.2rem;
        height: 9.8rem;
        top: 53%;
        left: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem;
    }
    .Vista{
        width: 21.1rem;
        height: 10.4rem;
        background-color: rgb(31, 25, 88);
        border-radius: 10px;
        border:solid 2px  rgb(139, 133, 192);
    }
}