
/*-------------------------------------------------------------------------------*/
/*Dandole estilo al diseño de la navbarv de la pokedex*/
.nav{
  display: flex;
  padding: 0;
}

.Contenido{
  background-color: rgb(75, 74, 74);
  border: solid 0.5rem rgb(49, 49, 49);
  border-radius: 20px;
}

/*Opciones*/
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul li{
  padding:2px 20px;
  list-style-type: none;
  /*Definiendo una pequeña transición*/
  transition: 0.4s;
}

ul button{
  width: 10rem;
  cursor: pointer;
}

/*Estilo de los buttons segun la clase de pokemon*/
ul .todos{
  background-color:#DC5F00;
  color: white;
}
ul .todos:hover{
  background-color:#eb7c28;
  color: white;
}
/*-----------------------------*/
ul .normal{
  background-color: #e4d45c;
  color: white;
}
ul .normal:hover{
  background-color: #e0b423;
  color: white;
}
/*-----------------------------*/
ul .fire{
  background-color: #F94C10;
  color: white;
}
ul .fire:hover{
  background-color: tomato;
  color: white;
}
/*-----------------------------*/
ul .water{
  background-color: #75C2F6;
  color: white;
}
ul .water:hover{
  background-color: #3a93cf;
  color: white;
}
/*-----------------------------*/
ul .bug{
  background: #609966;
  color: white;
}
ul .bug:hover{
  background: #32a73e;
  color: white;
}
/*-----------------------------*/
ul .rock{
  background-color: gray;
  color: white;
}
ul .rock:hover{
  background-color: rgb(87, 83, 83);
  color: white;
}
/*-----------------------------*/
ul .ghost{
  background-color:#58287F ;
  color: white;
}
ul .ghost:hover{
  background-color:#8241b8 ;
  color: white;
}
/*-----------------------------*/
ul .electric{
  background-color: #FFB100;
  color: white;
}
ul .electric:hover{
  background-color: #f0b733;
  color: white;
}
/*-----------------------------*/
ul .poison{
  background-color: #7B2869;
  color: white;
}
ul .poison:hover{
  background-color: #9b2b83;
  color: white;
}
/*-----------------------------*/
ul .psychic{
  background-color: #FED049;
  color: white;
}
ul .psychic:hover{
  background-color: #d3a312;
  color: white;
}
/*-----------------------------*/
ul .dragon{
  background-color: #4a48c4;
  color:white
}
ul .dragon:hover{
  background-color: #3c3b74;
  color:white
}
/*-----------------------------*/
ul .grass{
  background-color: #68B984;
  color: white;
}
ul .grass:hover{
  background-color: #0e6e2e;
  color: white;
}
/*-----------------------------*/
ul .ground{
  background-color: #eba64c;
  color: white;
}
ul .ground:hover{
  background-color: #c07d26;
  color: white;
}
/*-----------------------------*/
ul .fighting{
  background-color: #7D9D9C;
  color: white;
}
ul .fighting:hover{
  background-color: #4f6968;
  color: white;
}
ul .Informacion{
  background-color:#1D5B79 ;
  color: white;
}
ul .Informacion:hover{
  background-color:#1781b6 ;
  color: white;
}

.Info{
  text-decoration: none;
  color: white;
}

.IMGL {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px; 
        width: 100%;
       }

.Logo1{
   width: 25rem;
   height: 11rem;
   
}

/*Iconos de las pokebolas*/
.Poke{
  float: right;
  width: 2rem;
}

/*-------------------------------------------------------------------------------*/
/*Buscador de pokemons*/
.busqueda{
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.Buscador{
  width: 50rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:  rgb(49, 49, 49);
  box-shadow: 0 0 10px rgba(223, 219, 219, 0.212);
  border-radius: 6px;
}

.hidden {
  display: none;
}

/* Animación de girar */
@keyframes jump {
  0%, 100% {
    transform: translateY(0); /* Posición inicial y final: no se mueve verticalmente. */
  }
  50% {
    transform: translateY(-20px); /* Posición máxima de salto hacia arriba. */
  }
}


/* Estilos para la imagen del Pokémon */
#pokemonImage {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  animation: jump 0.5s ease-in-out infinite alternate; /* Aplica la animación 'jump'. */
}

.pokemon-card {
width: 90%;
grid-column: span 1;
border: 3px solid #ccc;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
padding: 20px;
text-align: center;
background-color: rgba(251, 245, 245, 0.445);
background-image: url("https://raw.githubusercontent.com/lm21009UES/Pokedex/3dead1cf14e5547f6a3693f671abbd5c0d5da14f/IMG/blob.svg");
background-repeat: no-repeat;
background-position: center;
backface-visibility: hidden;
font-size: 15px;
}
.pokemon-card h2{
font-size: 20px;
}

.pokemon-image {
width: 50%;
height: auto;
margin: 0 auto 10px;
}

.pokemon-card:hover{
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
transform: translateY(-3%);
}

.resaltante{
box-shadow: 5px 5px 25px #e29219;
transform: translateY(4%);
}

.pokemon-card-container{
width: 100%;
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;
place-items: center;
}

@media (max-width: 500px){
.pokemon-card-container{
  width: 100%;
  grid-template-columns: 50% 50%;
}

.pokemon-card{
  font-size: 12px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.pokemon-card h2 {
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pokemon-image{
  width: 90%;
  height: auto;
}
}

/*para la tarjeta donde se mostrara la informacion*/

.cardT{
display: none;
  position: fixed;
  width: 30%;
  height: auto;
  font-size: 12px;
  border-radius: 25px 25px 5px 5px;
  box-shadow: 15px 15px 20px;
  background: linear-gradient(to right top, #c6e6df, #6dd2aa, #75d38f, #88d26f, #a3cf4a);
  top: 50%; /* Centra verticalmente */
left: 50%;
transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
transition: opacity 0.5s ease-in-out; /* Aplica una transición de opacidad suave */
opacity: 0; /* Inicialmente, la tarjeta estará invisible */
z-index: 999; /* Asegura que la tarjeta esté por encima del contenido */
}

.cardTHeader i{
padding-left: 4%;
width: 100%;
height: 20px;
}

.cardTHeader i{
  width: 40px;
  height: 50px;
}

.cardTHeader i:hover{
cursor: pointer;
}

.cardTHeader img{
  width: 25px;
  height: auto;
}

.cardTImg{
display: flex;
width: 100%;
height: 200px;
justify-content: center; /* Centrar horizontalmente */
align-items: center; /* Centrar verticalmente */
background-image: url("./IMG/blob2.svg");
background-size: cover;
background-repeat: no-repeat;
}

.cardTImg img{
padding-top: 10px;
width: 70%;
height: auto;
}

.cardTBody{
padding: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: white;
}
.cardTNav {
width: 100%;
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;
justify-content: center;
background-color: white;
border-radius: 25px 25px 0 0;
}

.cardTNav ul{
box-sizing: border-box;
margin: 10px 2px 2px 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardTNav li{
  width: 100%;
}

.nav-item .active{
border-radius: 15px 15px 0 0;
background-image: linear-gradient(to right top, #c2f1e6, #c3d6cd, #739c7b, #819b76, #8e9973);
}

/* Definir la animación */
@keyframes moverBorde {
0% {
  border-color: rgb(185, 100, 100); /* Color del borde en el inicio */
  transform: translate(0, 0); /* Posición inicial */
}
25% {
  border-color: rgb(135, 135, 174); /* Color del borde a 25% de la animación */
  transform: translate(100%, 0); /* Mover el borde hacia la derecha */
}
50% {
  border-color: rgb(139, 189, 139); /* Color del borde a 50% de la animación */
  transform: translate(100%, 100%); /* Mover el borde hacia abajo */
}
75% {
  border-color: rgb(135, 135, 96); /* Color del borde a 75% de la animación */
  transform: translate(0, 100%); /* Mover el borde hacia la izquierda */
}
100% {
  border-color: rgb(200, 128, 128); /* Color del borde al final de la animación (vuelve al inicio) */
  transform: translate(0, 0); /* Posición final (vuelve al inicio) */
}
}

ul{
list-style: none;
}

#link{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  font-size: 12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(18, 78, 49);
}

@media (max-width: 500px){
  #link{
    font-size: 8px;
    text-align: center;
  }
  .cardT{
    box-sizing: border-box;
    width: 80%;
    height: auto;
    font-size: 12px;
    border-radius: 25px 25px 5px 5px;
    box-shadow: 15px 15px 20px;
    background: linear-gradient(to right top, #c6e6df, #6dd2aa, #75d38f, #88d26f, #a3cf4a);
    top: 50%; /* Centra verticalmente */
    left: 50%;
    transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
    transition: opacity 0.5s ease-in-out; /* Aplica una transición de opacidad suave */
    opacity: 0; /* Inicialmente, la tarjeta estará invisible */
    z-index: 999; /* Asegura que la tarjeta esté por encima del contenido */
  }
  .cardTNav li{
    font-size: 9px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .cardTHeader img{
    width: 20px;
    height: auto;
  }
}

/*Colores para caundo se busca el pokemon*/
.normal { background:linear-gradient(#d8c956,#867c31);color:white; }
.fire { background:linear-gradient(#e67205,#ac360e); color:white;}
.water { background:linear-gradient(#75C2F6,#3f5f8a); color:white;}
.bug{ background:linear-gradient(#609966,#20501b);color: white;}
.rock{ background:linear-gradient(rgb(110, 109, 109),#1b2022); color:white;}
.ghost{ background:linear-gradient(#752fbb,#361353); color:white;}
.electric{ background:linear-gradient(#f3cb17,#e98c21); color:white;}
.poison{ background:linear-gradient(#9b3284,#510b5f); color:white;}
.psychic{ background:linear-gradient(rgb(222, 189, 65),rgb(123, 82, 8)); color:white;}
.dragon{ background:linear-gradient(#157aa8,#4240af); color:white;}
.grass{background:linear-gradient(#449761,#52911e); color:white;}
.ground{background:linear-gradient(#db9942,#5e5447); color:white;}

.cardnormal {background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardwater {background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardfire {background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardbug{background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardrock{background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardghost{background: #004FF9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFF94C, #004FF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cardelectric{background: #D1913C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardpoison{background: #52c234;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardpsychic{background: #e9d362;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.carddragon{background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardgrass{background: #666600;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #999966, #666600);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #999966, #666600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.cardground{background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

/* Estilo para el contenedor de movimientos */
.moves-container {
  max-height: 300px; /* Ajusta esto según tus preferencias */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede la altura */
  overflow-x: hidden;
  overflow-x: 0;
  border: 1px solid #ccc; /* Puedes agregar un borde para mayor claridad */
  padding: 10px; /* Ajusta el espaciado interno según tus preferencias */
}
.moves-container li{
  background-color: #e6dfdf;
  border: 2px solid white;
}

/* colores para borde*/
/*Colores para caundo se busca el pokemon*/
.normalD { border: 3px solid #867c31;box-shadow: 6px 6px 15px #867c31; }
.fireD { border: 3px solid #e67205;box-shadow: 6px 6px 15px #e67205;}
.waterD { border: 3px solid #75C2F6;box-shadow: 6px 6px 15px #75C2F6;}
.bugD{ border: 3px solid #609966;box-shadow: 6px 6px 15px #609966;}
.rockD{ border: 3px solid rgb(110, 109, 109);box-shadow: 6px 6px 15px rgb(110, 109, 109);}
.ghostD{ border: 3px solid #752fbb;box-shadow: 6px 6px 15px #752fbb;}
.electricD{ border: 3px solid #f3cb17;box-shadow: 6px 6px 15px #f3cb17;}
.poisonD{ border: 3px solid #9b3284;box-shadow: 6px 6px 15px #9b3284;}
.psychicD{ border: 3px solid rgb(123, 82, 8);box-shadow: 6px 6px 15px rgb(123, 82, 8);}
.dragonD{ border: 3px solid #157aa8;box-shadow: 6px 6px 15px #157aa8;}
.grassD{border: 3px solid #449761;box-shadow: 6px 6px 15px #449761;}
.groundD{border: 3px solid #db9942; box-shadow: 6px 6px 15px #db9942;}
.fightingD{border: 3px solid #cadfe9; box-shadow: 6px 6px 15px #cadfe9;}
.iceD{border: 3px solid #948aa8; box-shadow: 6px 6px 15px #948aa8;}

@media (max-width: 500px){
  .normalD { border: 2px solid #867c31;box-shadow: 4px 4px 10px #867c31; }
  .fireD { border: 2px solid #e67205;box-shadow: 4px 4px 150x #e67205;}
  .waterD { border: 2px solid #75C2F6;box-shadow: 4px 4px 10px #75C2F6;}
  .bugD{ border: 2px solid #609966;box-shadow: 2px 2px 10px #609966;}
  .rockD{ border: 2px solid rgb(110, 109, 109);box-shadow: 4px 4px 10px rgb(110, 109, 109);}
  .ghostD{ border: 2px solid #752fbb;box-shadow: 4px 4px 10px #752fbb;}
  .electricD{ border: 2px solid #f3cb17;box-shadow: 4px 4px 10px #f3cb17;}
  .poisonD{ border: 2px solid #9b3284;box-shadow: 4px 4px 10px #9b3284;}
  .psychicD{ border: 2px solid rgb(222, 189, 65);box-shadow: 4px 4px 10px rgb(222, 189, 65);}
  .dragonD{ border: 2px solid #157aa8;box-shadow: 4px 4px 10px #157aa8;}
  .grassD{border: 2px solid #449761;box-shadow: 4px 4px 10px #449761;}
  .groundD{border: 2px solid #db9942; box-shadow: 4px 4px 10px #db9942;}
  .fightingD{border: 2px solid #cadfe9; box-shadow: 4px 4px 10px #cadfe9;}
  .iceD{border: 2px solid #948aa8; box-shadow: 4px 4px 10px #948aa8;}
}